@{
}
<div class="m-5">
    <h1>@ViewBag.type</h1>
    <a class="btn btn-warning" asp-controller="Home" asp-action="Mummiesview">Home</a><a class="btn btn-success" asp-controller="Home" asp-action="NewMummy">Add New Record</a>
</div>