<!DOCTYPE html>
<html>
<head>
    <title>Supervised Model - Head Direction</title>
    <style>

        h2 {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            color: #333333;
            margin-bottom: 20px;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"], textarea {
            width: 50%;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px 0;
            cursor: pointer;
            border-radius: 5px;
        }

    </style>
</head>
<body>
    <h2>
        This page will take all of your inputs for each of these fields, and using the statistical model we have created through the mummy data, it will predict which direction
        the head would be facing when excavated based on the attributes that the mummy was given below. Without a value in every single field, the prediction will not work.
        So make sure to put a value in for every field!
    </h2></br>

        <div>
        <label for="inputData">Sex = Male:</label>
        <select id="sexMale" name="sexMale">
            <option value="1">Yes/True</option>
            <option value="0">No/False</option>
        </select>
        </br>
        <label for="inputData">Sex = Female:</label>
        <select id="sexFemale" name="sexFemale">
            <option value="1">Yes/True</option>
            <option value="0">No/False</option>
        </select>
        </br>
        <label for="inputData">Wrapping = S:</label>
        <select id="wrapping_S" name="wrapping_S">
            <option value="1">Yes/True</option>
            <option value="0">No/False</option>
        </select>
        </br>
        <label for="inputData">Sample Collected = Unknown:</label>
        <select id="samplesCollected" name="samplesCollected">
            <option value="1">Yes/True</option>
            <option value="0">No/True</option>
        </select>
        </br>
        <label for="inputData">Wrapping = B:</label>
        <select id="wrapping_B" name="wrapping_B">
            <option value="1">Yes/True</option>
            <option value="0">No/True</option>
        </select>
        </br>
        <label for="inputData">Age at Death = Child:</label>
        <select id="ageAtDeath_C" name="ageAtDeath_C">
            <option value="1">Yes/True</option>
            <option value="0">No/True</option>
        </select>
        </br>
        <label for="inputData">No Samples Collected:</label>
        <select id="samplesCollected_F" name="samplesCollected_F">
            <option value="1">Yes/True</option>
            <option value="0">No/False</option>
        </select>
        </br>
        <label for="inputData">Wrapping = W:</label>
        <select id="wrapping_W" name="wrapping_W">
            <option value="1">Yes/True</option>
            <option value="0">No/False</option>
        </select>
        </br>
        <label for="inputData">Area = SE:</label>
        <select id="area_SE" name="area_SE">
            <option value="1">Yes/True</option>
            <option value="0">No/False</option>
        </select>
        </br>
        <label for="inputData">Wrapping = H:</label>
        <select id="wrapping_H" name="wrapping_H">
            <option value="1">Yes/True</option>
            <option value="0">No/False</option>
        </select>
        </br>


        <button onclick="performInference()">PREDICT</button>
        </br>
        </br>
    </div>
    <div>
        <label for="outputData">PREDICTED DIRECTION:</label>
        </br>
        <textarea id="outputData" name="outputData" rows="10" cols="50" readonly></textarea>
    </div>

    <script>
        function performInference() {
            // Get the input data from the form
            const sexMale = parseFloat(document.getElementById('sexMale').value);
            const sexFemale = parseFloat(document.getElementById('sexFemale').value);
            const wrapping_S = parseFloat(document.getElementById('wrapping_S').value);
            const samplesCollected = parseFloat(document.getElementById('samplesCollected').value);
            const wrapping_B = parseFloat(document.getElementById('wrapping_B').value);
            const ageAtDeath_C = parseFloat(document.getElementById('ageAtDeath_C').value);
            const samplesCollected_F = parseFloat(document.getElementById('samplesCollected_F').value);
            const wrapping_W = parseFloat(document.getElementById('wrapping_W').value);
            const area_SE = parseFloat(document.getElementById('area_SE').value);
            const wrapping_H = parseFloat(document.getElementById('wrapping_H').value);

            // Define the API endpoint URL
            const apiUrl = 'https://localhost:44370/score';

            // Define the request body
            const requestBody = {
                "sexMale": sexMale,
                "sexFemale": sexFemale,
                "wrapping_S": wrapping_S,
                "samplesCollected": samplesCollected,
                "wrapping_B": wrapping_B,
                "ageAtDeath_C": ageAtDeath_C,
                "samplesCollected_F": samplesCollected_F,
                "wrapping_W": wrapping_W,
                "area_SE": area_SE,
                "wrapping_H": wrapping_H
            };


            // Send the POST request to the API endpoint
            fetch(apiUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            })
                .then(response => response.json())
                .then(data => {
                    // Display the output data in the textarea
                    const outputDataTextarea = document.getElementById('outputData');
                    const predictedValue = data.predictedValue;

                    if (predictedValue < 0.50) {
                        outputDataTextarea.textContent = "EAST";
                    } else if (predictedValue >= 0.50) {
                        outputDataTextarea.textContent = "WEST";
                    }

                })
                .catch(error => {
                    console.error('Error performing inference:', error);
                });
        }


    </script>
</body>
</html>
