@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="position-relative image-container">
        <img src="~/img/fagelgamous.jpg" class="img-fluid cropped-image">
        <div class="overlay txtOverlay centerCenter">
            <h1 class="display-3 m-3"> F | E | G </h1>
            <br />
            <h2 class="display-6 m-3" style="">   Fag  El - Gamous</h2>
        </div>
    </div>
</div>


<div class="thrPicRow text-center">
        <a asp-controller="Home" asp-action="Mummiesview">
            <img src="~/img/churchLogo.jpg" class="picDiv"/>
            <h5>The Church of Jesus Christ</h5>
        </a>
        <a href="https://www.josephsmithpapers.org/" target="_blank">
            <img src="~/img/jsPapers2.jpg" class="picDiv"/>
            <h5>Joseph Smith Papers</h5>
        </a>
        <a href="https://www.churchofjesuschrist.org/media/video/2017-01-0100-ask-of-god-joseph-smiths-first-vision?lang=eng" target="_blank">
            <img src="~/img/firstVision.jpg" class="picDiv"/>
            <h5>First Vision Video</h5>
        </a>
</div>