@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment HostingEnvironment
@{
    ViewData["Title"] = "Burial groupings";

    string htmlFilePath = "wwwroot/figure.html"; 
    string htmlContent = System.IO.File.ReadAllText(htmlFilePath);

}

<style>
    p {
      border: 2px solid #333;
      padding: 20px;
      margin: 20px 0;
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #333;
      line-height: 1.5;
      text-align: justify;
      text-justify: inter-word;
      background-color: #f7f7f7;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    }
</style>

<div>
    <h3>Length of mummies based on burial location</h3>
    <p>The model below charts both where bodies have been unconvered as well as the length of the bodies. As you can see, there are 4 groups that naturally arose in the data. by viewing this data from above, you can see where the mummies were discovered in relation to the grid system. Now looking at the graph from the side, you will see that the height of mummies is displayed. It is notable that there are many longer mummies in the purple group while the other three have more similar lengths. One possible explaination is that the purple group may be mummies that were buried using practices that did not hold a mummies shape as well, resulting in stretched out mummies as time passed.</p>
</div>


<div>
    @Html.Raw(htmlContent)
</div>
